body {
    margin: 0px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

#gameScreen {
    height: 600px;
    border: 3px solid red;
}

.card-face{
    background-color: whitesmoke;
    border-radius: 10%;
    border: solid 3px black;
}

/* Card Stack */

.cards-stack {
    position: relative;
    top: 0px;
    left: 0px;
}

.card-stack-back {
    position: absolute;
    width: 70px;
    margin: 5px;
    background-color: bisque;
    border: solid 2px black;
    height: 100px;
    border-radius: 10%;
    background-image: url("../assets/card-back.PNG");
    background-size: cover;
}


.card-stack-back-1 {
    left: 0px;
}

.card-stack-back-2 {
    left: 10px;
}

.card-stack-back-3 {
    left: 20px;
}

.card-stack-back-4 {
    left: 30px;
}

.card-stack-back-5 {
    left: 40px;
}

/* Card Stack - end */

/* Card Selected */

.card-selected-face {
    width: 90px;
}

.card-selected-back {
    width: 90px;
}

/* Card Selected - end */


/* Card Player */

.card-player {
    margin: 5px;
    width: 70px;
    height: 100px;
}

.card-player:hover {
    cursor: pointer;
}

/* Card Player - end*/



/* Player Profile */

.player-profile {
    width: 90px;
}

.player-profile img {
    width: 80px;
}

.player-profile-score-container {
    height: 50px;
}

.player-profile-score {
    border-radius: 50%;
    background-color: green;
    width: 50px;
}

/* Player Profile - end */