body {
    margin: 0px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

#gameScreen {
    height: 600px;
    border: 3px solid red;
}

.cards-stack {
    position: relative;
    top: 0px;
    left: 0px;
}

.card-back {
    position: absolute;
    width: 70px;

}

.card-back-1 {
    left: 0px;
}

.card-back-2 {
    left: 10px;
}

.card-back-3 {
    left: 20px;
}

.card-back-4 {
    left: 30px;
}

.card-back-5 {
    left: 40px;
}

.card-face {
    width: 90px;
}

.card-face-player {
    width: 70px;
    margin: 5px;
}

.player-profile {
    width: 90px;
}

.player-profile img {
    width: 80px;
}

.player-profile-score-container {
    height: 50px;
}

.player-profile-score {
    border-radius: 50%;
    background-color: green;
    width: 50px;
}