html, 
body {
    height: 100%;
}

body {
    margin: 0px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.game-screen-container{
background-color: #333333;
}

#gameScreen {
    border: 1px solid black;
    box-shadow: 2px 2px 20px black;
    background-image: url(../assets/mesa.jpg);
    color: white;
    font-weight: bold;
    padding-bottom: 6px;

}

.card-face {
    border-radius: 10%;
    border: solid 1px black;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    color: black;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(222, 214, 214);

}

.card-face-winner {
    color: red;
}

.card-back {
    background-image: url("../assets/card-back-2.PNG");
    background-size: cover;
    box-shadow: 2px 2px 2px black;

}

/* Card Stack */
.cards-stack {
    position: relative;
    top: 0px;
    left: 0px;
}

.card-stack-back {
    position: absolute;
    width: 74px;
    height: 100px;
    border-radius: 10%;
    border: solid 1px black;

}

.card-stack-back-1 {
    left: 0px;
}

.card-stack-back-2 {
    left: 10px;
}

.card-stack-back-3 {
    left: 20px;
}

.card-stack-back-4 {
    left: 30px;
}

.card-stack-back-5 {
    left: 40px;
}

/* Card Stack - end */

/* Card Selected */
.card-selected-face {
    width: 90px;
    font-size: 30px;
}

.card-selected {
    width: 88px;
    height: 120px;
}

/* Card Selected - end */

/* Card Player */
.card-player {
    margin: 5px;
    width: 70px;
    height: 100px;
}

.card-player:hover {
    cursor: pointer;
}

/* Card Player - end*/

/* Player Profile */

.player-profile {
    width: 90px;

}

.player-name{
    text-shadow: 2px 2px 5px black;
}

.player-profile img {
    width: 80px;

}

.player-profile-score-container {
    margin-top: 5px;
    height: 35px;
}

.player-profile-score {
    border-radius: 30%;
    background-color: rgba(255, 140, 0, 0.87);
    width: 40px;
    color: black;
    box-shadow: 2px 2px 5px black;
}

/* Player Profile - end */

/* Centro da mesa */
.center-table {
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 20%;
    box-shadow: 1px 1px 1px 1px black;
}

/* Centro da mesa - end */

/* Score */
.score-table {
    color: white;

}

.score-table tr {
    border-bottom: 2px solid #cccccc;
}

.score-table>thead>tr {
    background-color: #333333;
    color: white;

}

.score-table th,
.score-table td {
    padding: 6px;
}

.score-table th {
    font-size: 12pt;
}


.score-table td {
    font-weight: normal;
    font-size: 11pt;
}

/* Score - end */